
html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


h1 {
    border: solid 5px black;
    text-align: center;
}

.question {
     border: solid 5px red;
     text-align: center;
    
}

.answer {
     border: solid 5px blue;
     text-align: center;

}
 button{
    display: block;
   margin: auto;
    max-width: 300px;
    padding: 20px;
  
 }

 #btn2 {
     margin-top: 20px;
 }